
///в начале файла или в отдельные папки

///variables
$main-color-pink: #f16d7f;

.reviews {
    padding-bottom: 30px;
    min-height: 438px;
    width: 798px;
    border-right: 1px solid #ffffff;
    background-size: cover;
    background-position: center bottom;
}

.reviews-box {
    margin-top: 111px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-reviews {
    margin-right: 28px;
    width: 83px;
    height: 83px;

    float: left;
}

.reviews-text {
    width: 497px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.025em;
}

.text {
    font-weight: 400;
    font-style: italic;
    color: #222224;
}

.reviews-text-author {
    margin-left: 114px;
}

.text-pink {
    line-height: 0px;
    font-weight: 700;
    color: $main-color-pink;
    font-style: normal;
}

.text-author {
    font-size: 12px;
    line-height: 0px;
    font-weight: 300;
    color: #222224;
}

.reviews-text-circle {
    margin-top: 41px;
    margin-left: 100px;

    display: flex;
    align-self: center;
}

.circle {
    margin: 13px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    display: inline-block;

    &:hover {
        background-color: $main-color-pink;
    }
}
