///в начале файла или в отдельные папки

///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

@mixin border-form () {
    background-color: $main-color-white;
    border: 1px solid #eaeaea;
}

.subscribe {
    padding-bottom: 30px;
    min-height: 438px;
    width: 798px;
    background-size: cover;
    background-position: center bottom;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subscribe-text {
    margin-right: 94px;
    margin-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-h2 {
    padding-left: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe-text-message {
    padding-left: 100px;
    font-size: $main-size-text;
    line-height: 0px;
    text-transform: none;
}

.message {
    margin-left: 50px;
    margin-top: 35px;

    display: flex;
    flex-direction: row;
}
.message-subscribe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-field {
    padding: 0px 10px 0px 28px;
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;

    font-size: $main-size-text;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}

.message-field::placeholder {
    opacity: 0.67;
    font-size: $main-size-text;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}

.message-btn {
    width: 104px;
    height: 46px;
    background-color: $main-color-pink;
    border-radius: 0px 23px 23px 0px;
    transition: 0.5s;

    &:hover {
        background-color: #d6d6d6;
        border: 1px solid #eaeaea;
    }
    &:active {
        @include border-form();
    }

    &:hover .message-btn-text {
        color: $main-color-pink;
    }
    &:active .message-btn-text {
        color: $main-color-pink;
    }

}

.message-btn-text {
    display: block;
    font-size: $main-size-text;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $main-color-white;
}

input,
button {
    outline: none;
    border: none;
}
