///в начале файла или в отдельные папки

///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;


///mixin
@mixin fotter-socials-icon ($size:16px, $height:42px) {
    font-family: FontAwesome;
    font-size: $size;
    line-height: $height;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}

/*footer-bottom*/
.footer-bottom {
    background-color: #e6e6e6;
}

.footer-container-bottom {
    min-height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.fab {
    margin-top: 24px;
    margin-left: 8px;
    padding-top: 8px;
    padding-left: 12px;
    width: 32px;
    height: 32px;
    background-color: $main-color-white;
    transition: 0.5s;
    
    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        opacity: 0.29;
        background-color: #ffffff;
    }
}

.facebook {
    @include fotter-socials-icon ();
}

.fa-twitter {
    @include fotter-socials-icon ();
}

.fa-linkedin-in {
    @include fotter-socials-icon ();
}

.fa-pinterest-p {
    @include fotter-socials-icon ();
}

.fa-google-plus-g {
    @include fotter-socials-icon ();
}

