///в начале файла или в отдельные папки
///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

///mixin
@mixin fotter-socials-icon ($size:16px, $height:42px) {
    font-family: FontAwesome;
    font-size: $size;
    line-height: $height;
    font-weight: 400;
    letter-spacing: 0.025em;
}

@mixin border-form () {
    background-color: $main-color-white;
    border: 1px solid #eaeaea;
}

@mixin border-form-hover-active () { 
    background-color: #9f9f9f;
    border: 1px solid $main-color-white;
    box-shadow: $main-shadow;
}

@mixin fas-fa-star ($size:12px) {
    font-family: FontAwesome;
    font-size: $size;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
}

.header {
    background-color: #fff;
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.pink {
    font-weight: 900;
    color: $main-color-pink;
}

.logo-img {
    margin-right: 15px;
}
.header-browse-search {
    display: flex;

}
.browse {
    margin-left: 40px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.browse-btn {
    font-size: $main-size-text;
    line-height: 6px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    padding: 11px;
    transition: 0.5s;
    
    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        opacity: 0.29;
        background-color: #ffffff;
    }
}

.drop-down {
    width: 262px;
    background-color: #ffffff;
    border-radius: 5px;  
    position: absolute; 
    top:40px;
    transform: scale(0, 0);
    transform-origin: left top;
    transition: 0.5s;
}

.browse-btn:hover .drop-down {
    transform: scale(1, 1) translateX(-12px);
}

.drop-title {
    width: 235px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323; 
    padding-left: 7px;
    margin: 20px 0px 0px 13px; 
    border-bottom: 1px solid #e8e8e8;  
}

.drop-list-menu {
    width: 150px;
    list-style-type: none;
    padding: 0;
    margin: 10px 0px 10px 20px;
}

.drop-menu-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
    text-decoration: none;
}

.fa-caret-down {
    margin-left: 8px;
    @include fotter-socials-icon (14px, 32px);
    color: #838383;
}

.fas1 {
    color: $main-color-white;
}

.login {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header-href-cart-img {
    transform: translateY(-10px);
}

.in-cart {
    width: 19px;
    height: 19px;
    background-color: $main-color-pink;
    border-radius: 50%;

    
    transform: scale(0, 0);
  
}

.in-cart-number {
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $main-color-white; 

}

.account-text {
    padding-top: 5px; 
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $main-color-white;
    transition: 0.5s;
}

.account {
    width: 150px;
    height: 38px;
    background-color: $main-color-pink;
    border-radius: 3px;
    
    &:active {
        background-color:  #9f9f9f;
        box-shadow: $main-shadow;
        transform: scale(1, 1) translateX(10px);
        transition: 0.5s;
    }
}

.img-header-cart {
    width: 72px;
    height: 85px;
    background-color: #ececec;
    margin-bottom: 15px;
}

.header-cart-product {
    padding-top: 5px;
    width: 262px;
    background-color: #ffffff;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}
.header-cart-product:not(:last-child){
    margin-bottom: 20px;
}

.cart-product {
    margin-left: 15px;
    width: 232px;
    display: flex;
   /* border: 1px solid black;*/
}
.header-cart {
    max-width: 150px;
    margin-top: 15px;
    margin-right: 5px;
 //   border-bottom: 1px solid rgba(237,237,237,0.74);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-cart-shopping {
    margin-bottom: 30px;
    margin-left: 50px;
}

.header-cart-product-name {
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.cart{
    display: flex;
    position: relative;
}

.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 100%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}

.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.header-fas-fa-start {
    display: flex;
    flex-direction: row;
}

.star {
    @include fas-fa-star ();
}

.header-cart-text {
    display: flex;
    flex-direction: row;
}
.header-cart-text-pink {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color:$main-color-pink;
}

.span-p {
    font-size: 10px;
}

.header-cart-btn {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.header-cart-all {
    display: flex;
    flex-direction: column;
}

.header-cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-cart-text {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; 
}

.header-cart-btn1 {
    margin-top: 17px;
    margin-bottom: 11px;
    width: 225px;
    height: 50px;
    @include border-form();

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
        
    &:hover {
        border: 1px solid $main-color-pink;
    }
    &:active {
        border: 1px solid $main-color-pink;
        box-shadow: $main-shadow;
    }

    &:hover .cart-btn1-text {
        color: $main-color-pink;
    }

    &:active.cart-btn1-text {
        color: $main-color-pink;
    }
}

.cart-btn1-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    text-decoration:none;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-field {
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;

    font-size: $main-size-text;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.search-btn {
    padding: 9px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    background-color: #fff;
    transition: 0.5s;

    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        opacity: 0.29;
        background-color: #ffffff;
    }
}

.search-field::placeholder {
    font-size: $main-size-text;
    font-weight: 300;
    color: #a4a4a4;
    font-family: inherit;
}
