///в начале файла или в отдельные папки
///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

.sliderProduct {
    background-color: #fff;
}

.slider-container {
    margin-top: 98px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider {
    width: 560px;
    padding-top: 26px;
    background-repeat: no-repeat;
}

.slider-product {
    height: 542px;
    background-image: url(../img/product-1.png);
}

.slider-border-product {
    padding-left: 19px;
    padding-top: 16px;
    width: 175px;
    height: 82px;
    background-color: $main-color-white;
    
    &:hover {
        box-shadow: $main-shadow;
        border: 1px solid $main-color-pink;
    }

    &:active {
        box-shadow: $main-shadow;
        border: 1px solid $main-color-pink;
    }
}

.slider-text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
}

.slider-text-link {
    font-size: 30px;
}

.slider-product2 {
    margin-top: 20px;
    height: 261px;
    background-image: url(../img/product-2.png);
}

.slider-border-product2 {
    padding-left: 19px;
    padding-top: 16px;
    width: 225px;
    height: 82px;
    background-color: $main-color-white;

    
    &:hover {
        box-shadow: $main-shadow;
        border: 1px solid $main-color-pink;
    }

    &:active {
        box-shadow: $main-shadow;
        border: 1px solid $main-color-pink;
    }
}

.slider-product3 {
    height: 261px;
    background-image: url(../img/product-3.png);
}

.slider-product4 {
    margin-top: 20px;
    height: 542px;
    background-image: url(../img/product-4.png);
}
