///в начале файла или в отдельные папки
///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

///mixin
@mixin fotter-socials-icon ($size:16px, $height:42px) {
    font-family: FontAwesome;
    font-size: $size;
    line-height: $height;
    font-weight: 400;
    letter-spacing: 0.025em;
}

@mixin border-form () {
    background-color: $main-color-white;
    border: 1px solid #eaeaea;
}

@mixin border-form-hover-active () { 
    background-color: #9f9f9f;
    border: 1px solid $main-color-white;
    box-shadow: $main-shadow;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
}

.menu-link {
    font-size: $main-size-text;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
   
    display: block;
    /*включает padding*/
    padding: 20px 20px;
    /*расстояние между словами*/
    /*position: relative;*/
}

.menu-link-active {
    border-bottom: 3px solid #ef5b70;
}
.img-mega-menu {
    width: 255px;
    height: 118px;
    background-color: #efefef;
}

.mega-menu {
    width: 846px;
    height: 310px;
    background-color: #ffffff;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    margin-left: -17px;
    margin-top: -10px;

    transform: scale(0, 0);
    transform-origin: left top;
    transition: 0.5s;
}
.menu-list:hover:nth-of-type(2) .mega-menu {
    transform: scale(1, 1);   
}

.menu-list:hover:nth-of-type(3) .mega-menu {
    transform: scale(1, 1) translateX(-74px);  
}

.menu-list:hover:nth-of-type(4) .mega-menu {
    transform: scale(1, 1) translateX(-172px);  
}

.menu-list:hover:nth-of-type(5) .mega-menu {
    transform: scale(1, 1) translateX(-242px);  
}

.menu-list:hover:nth-of-type(6) .mega-menu {
    transform: scale(1, 1) translateX(-376px);  
}

.menu-list:hover:nth-of-type(7) .mega-menu {
    transform: scale(1, 1) translateX(-486px);  
}

.drop-mega-menu {
    margin-left: 20px;
}