///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

.info-product {
    background-color: #222224;
}

.info-product-container {
    height: 341px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-product-text {
    display: flex;
    flex-direction: column;
}

.info-menu-product {
    margin-left: 132px;
    
    &:hover .img-info {
        transform: scale(1.5) rotate(360deg);
    }
}

.info-menu-link-product {
    margin-left: 91px;
    margin-top: 32px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    text-decoration: none;
    display: inline-block;
}

.info-menu-product-text {
    font-size: $main-size-text;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: 7px;
}

.img-info {
    width: 45px;
    height: 32px;
    transition: 1.2s;
}