///в начале файла или в отдельные папки

///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

///mixin
@mixin border-form () {
    background-color: $main-color-white;
    border: 1px solid #eaeaea;
}

@mixin border-form-hover-active () { 
        background-color:  #eaeaea;
        border: 1px solid $main-color-white;
        box-shadow: $main-shadow;
}

@mixin form-button-text () {
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.form-buy-conrainer {
    margin-top: 63px;
    height: 256px;

    display: flex;
    flex-direction: row;
}

.header-text-form-buy {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.form-buy-adress {
    height: 235px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.country {
    border: none;
}

.form-shipping-adress {
    padding-left: 18px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;

    width: 355px;
    height: 45px;
    @include border-form ();
}

.form-btn-text {
    @include form-button-text ();
    font-size: 11px;
    color: #4a4a4a;
    transition: 0.5s;
}

.coupon-discount {
    margin-left: 36px;
}

.text-coupon-discount {
    margin-top: 20px;
    font-size: $main-size-text;
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
}

.form-btn-comment {
    width: 100px;
    height: 35px;
    @include border-form ();
    transition: 0.5s;

    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        box-shadow: $main-shadow;
        background-color: $main-color-pink;
    }

    &:hover .form-btn-text {
        color: $main-color-white;
    }

    &:active .form-btn-text {
        color: $main-color-white;
    }
}

.form-coupon-discount {
    height: 105px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-btn-coupon {
    width: 118px;
    height: 35px;
    @include border-form ();
    transition: 0.5s;
    
    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        box-shadow: $main-shadow;
        background-color: $main-color-pink;
    }

    &:hover .form-btn-text {
        color: $main-color-white;
    }

    &:active .form-btn-text {
        color: $main-color-white;
    }

}

.checkout-buy {
    margin-left: 36px;
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total {
    padding-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.sub {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
}

.sub-price {
    padding-left: 20px;
}

.grand {
    padding-top: 14px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.pink-grand {
    padding-left: 20px;
    color: $main-color-pink;
}

.total-btn {
    margin-top: 40px;
    width: 273px;
    height: 50px;
    background-color: $main-color-pink;
        
    transition: 0.5s;

    &:hover {
        @include border-form();
    }

    &:active {
        box-shadow: $main-shadow;
        @include border-form();
    }

    &:hover .total-btn-text {
        color: #4a4a4a;
    }

    &:active .total-btn-text {
        color: #4a4a4a;
    }
}

.total-btn-text {
    @include form-button-text ();
    font-size: 16px;
    color: $main-color-white;
    transition: 0.5s;
}
