.form-buy-conrainer {
  margin-top: 63px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-text-form-buy {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.form-buy-adress {
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country {
  border: none;
}

.form-shipping-adress {
  padding-left: 18px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.form-btn-text {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  color: #4a4a4a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coupon-discount {
  margin-left: 36px;
}

.text-coupon-discount {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.form-btn-comment {
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-btn-comment:hover {
  background-color: #f16d7f;
}

.form-btn-comment:active {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #f16d7f;
}

.form-btn-comment:hover .form-btn-text {
  color: #ffffff;
}

.form-btn-comment:active .form-btn-text {
  color: #ffffff;
}

.form-coupon-discount {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-btn-coupon {
  width: 118px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-btn-coupon:hover {
  background-color: #f16d7f;
}

.form-btn-coupon:active {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #f16d7f;
}

.form-btn-coupon:hover .form-btn-text {
  color: #ffffff;
}

.form-btn-coupon:active .form-btn-text {
  color: #ffffff;
}

.checkout-buy {
  margin-left: 36px;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sub {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
}

.sub-price {
  padding-left: 20px;
}

.grand {
  padding-top: 14px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.pink-grand {
  padding-left: 20px;
  color: #f16d7f;
}

.total-btn {
  margin-top: 40px;
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.total-btn:hover {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.total-btn:active {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.total-btn:hover .total-btn-text {
  color: #4a4a4a;
}

.total-btn:active .total-btn-text {
  color: #4a4a4a;
}

.total-btn-text {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=page-shopping-cart-order-form-buy.css.map */