///в начале файла или в отдельные папки
///variables
$main-color-pink: #f16d7f;
$main-color-white: #ffffff;
$main-size-text: 14px;
$main-container-width:1143px;
$main-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

///mixin
@mixin fotter-socials-icon ($size:16px, $height:42px) {
    font-family: FontAwesome;
    font-size: $size;
    line-height: $height;
    font-weight: 400;
    letter-spacing: 0.025em;
}

@mixin border-form () {
    background-color: $main-color-white;
    border: 1px solid #eaeaea;
}

@mixin border-form-hover-active () { 
        background-color:  #eaeaea;
        border: 1px solid $main-color-white;
        box-shadow: $main-shadow;
}

@mixin form-button-text ($size: 11px) {
    font-size: $size;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout-container {
    margin-top: 89px;
}

.checkout-details {
    border-bottom: 1px solid #e8e8e8; 
}
    
details summary::-webkit-details-market {
    display: none;
}
details summary::-webkit-details-marker {
    display: none;
}

details summary {
      outline-style: none;
}

details > summary {
    list-style: none;
}
.checkout-list {
    margin-top: 33px;
    margin-bottom: 31px;
}
.checkout-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.checkout-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regist {
    margin-left: 35px;
    margin-top: 39px;
}
    
.regist-text-header {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}
    
.regist-text {
    font-size: 13px;
    line-height: 0px;
    font-weight: 400;
    color: #b3b2b2;
}
    
.regist-text-span {
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
}
    
.checkout-register {
    margin-top: 31px;
}
    
.checkout-guest-text {
    padding-left: 14px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}
    
.regist-form-btn {
    width: 180px;
    height: 50px;
    @include border-form ();
    transition: 0.5s;

    &:hover {
        background-color: $main-color-pink;
    }
    &:active {
        box-shadow: $main-shadow;
        background-color: $main-color-pink;
    }

    &:hover .regist-form-btn-text {
        color: $main-color-white;
    }
    &:active .regist-form-btn-text {
        color: $main-color-white;
    }
}
    
.regist-form-btn-text {
    @include form-button-text (14px);
    color: #4a4a4a;
    transition: 0.5s;
}

.regist-text-form {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;  
    }

.regist-form-input {
    padding: 0px 10px 0px 10px;
    width: 390px;
    height: 45px;
    @include border-form ();
}
    
.regist-text-form-span {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
}
    
.regist-text-red {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;  
}
.regist-forgot-password {
    padding-left: 32px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #222222; 
    text-decoration: none; 
}    

.regist-entrance {
    margin-left: 70px;
}